%li.fe-navigation-links
  = link_to root_path do
    %i.fe-icon.fe-icon-slim.fe-icon-home
    = t('views.application.main_navigation.links.root')
%li.fe-navigation-links
  = link_to build_jobs_path do
    %i.fe-icon.fe-icon-slim.fe-icon-build_job
    = t('views.application.main_navigation.links.build_jobs')
