.fe-error-message
  %main
    %h1
      = t('error_pages.not_found.title')
    %p
      = t('error_pages.not_found.description')
    %p
      = link_to t('views.application.main_navigation.links.root'), root_path
  %footer
    = t('error_pages.not_found.footer')
