- content_for :navigation_actions do
  = render partial: 'actions'

- breadcrumb :build_jobs

= render partial: 'job', collection: @build_jobs

%h1 Builds#index
%p Find me in app/views/builds/index.html.haml

