= link_to new_validation_job_path, class: 'fe-button-slim-new' do
  %i.fe-icon.fe-icon-slim.fe-icon-item-new
  = t('views.validation_jobs.new.link')
= link_to validation_jobs_path, class: 'fe-button-slim-destroy', method: :delete, data: { confirm: 'Are you sure?' } do
  %i.fe-icon.fe-icon-slim.fe-icon-item-destroy
  = t('views.validation_jobs.destroy_all.link')
