- breadcrumb :build_job, @build_job

- content_for :navigation_actions do
  = render partial: 'actions'

- if @build_job.completed? || @build_job.failed?
  %section.fe-top-content
    = render partial: 'finshed'
- else
  %section.fe-centered-content
    = render partial: 'running'
