.fe-button-destroy {
  @extend .btn;
  @extend .btn-danger;
  margin-left: 3px;
  margin-right: 3px;
}

.fe-button-slim-destroy {
  @extend .fe-button-destroy;
  @extend .btn-xs;
}

.fe-button-new {
  @extend .btn;
  @extend .btn-success;
  margin-left: 3px;
  margin-right: 3px;
}

.fe-button-restart {
  @extend .btn;
  @extend .btn-default;
  margin-left: 3px;
  margin-right: 3px;
}

.fe-button-edit {
  @extend .btn;
  @extend .btn-default;
  margin-left: 3px;
  margin-right: 3px;
}

.fe-button-slim-restart {
  @extend .fe-button-restart;
  @extend .btn-xs;
}

.fe-button-slim-edit {
  @extend .fe-button-edit;
  @extend .btn-xs;
}

.fe-button-slim-new {
  @extend .fe-button-new;
  @extend .btn-xs;
}

.fe-button-slim-new a:link,
.fe-button-slim-new a:visited,
.fe-button-slim-new a:focus,
.fe-button-slim-new a:active {
  color: $fe-color-white;
  text-decoration: none;
}

.fe-button-slim-new a:hover {
  color: $fe-color-white;
  text-decoration: underline;
}

.fe-button-slim-destroy a:link,
.fe-button-slim-destroy a:visited,
.fe-button-slim-destroy a:focus,
.fe-button-slim-destroy a:active {
  color: $fe-color-white;
  text-decoration: none;
}

.fe-button-slim-destroy a:hover {
  color: $fe-color-white;
  text-decoration: underline;
}

.fe-button-slim-new i.fe-icon-item-new:before {
  color: $fe-color-white;
  line-height: 1.1rem;
}

.fe-button-slim-edit i.fe-icon-item-edit:before {
  color: $fe-color-black;
  line-height: 1.1rem;
}

.fe-button-slim-restart i.fe-icon-item-restart:before {
  color: $fe-color-black;
  line-height: 1.1rem;
}

.fe-button-slim-destroy i.fe-icon-item-destroy:before {
  color: $fe-color-white;
  line-height: 1.1rem;
}
