$fe-color-grey-darker: #898989;
$fe-color-grey-dark: #767676;
$fe-color-grey: #9e9e9e;
$fe-color-grey-light: #dcdcdc;
$fe-color-grey-lighter: #e7e7e7;
$fe-color-grey-lightest: #f8f8f8;

$fe-color-black: black;
$fe-color-white: white;

$fe-color-red-light: #ffc9d6;
$fe-color-red: red;
$fe-color-red-dark: #cd0c39;

$fe-color-transparent: transparent;
