$fe-color-grey-darker: #898989;
$fe-color-grey: #9e9e9e;
$fe-color-grey-light: #dcdcdc;
$fe-color-grey-lighter: #f0f0f0;
$fe-color-grey-lightest: #f8f8f8;

$fe-color-black: black;
$fe-color-white: white;
