.fe-form {
  border: 3px dashed $fe-color-grey-light;
  padding: 3em;
  border-radius: 15px;
}

.fe-form-field {
  margin-bottom: 15px;
  margin-top: 15px;
}

.fe-form-field input[type=submit] {
  margin-left: 0px;
  margin-right: 0px;
}

.fe-form-label {
  display: block;
}
