.fe-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  padding: 15px;
}

.fe-navigation-bar {
  @extend .fe-font-big;

  display: flex;
  flex-direction: row;
  border-radius: 4px;
  min-height: 50px;
  align-items: center;
  margin: 0px;
  padding: 0px;
  margin-bottom: 5px;
}

.fe-navigation-bar,
.fe-navigation-subbar {
  display: flex;
  flex-direction: row;
  background-color: $fe-color-grey-lightest;
  border: 1px solid $fe-color-grey-lighter;
  min-width: 100%;
  list-style: none;
  padding: 4px;
}

.fe-navigation-breadcrumbs {
  display: flex;
}

.fe-navigation-links {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
  margin-right: 1em;
}

.fe-navigation-links i:before {
  color: $fe-color-grey-darker;
}

.fe-navigation-links:first-child {
  margin-left: .5em;
}

.fe-navigation-breadcrumbs {
  display: flex;
  flex-direction: row;
}

.fe-navigation-breadcrumbs-current,
.fe-navigation-breadcrumbs > a {
  margin-left: 3px;
  margin-right: 3px;
}

.fe-navigation-breadcrumbs > a,
.fe-navigation-breadcrumbs-current,
.fe-navigation-breadcrumbs-pretext,
{
  display: flex;
}

.fe-navigation-breadcrumbs > a:first-child {
  margin-left: .5em;
}

.fe-navigation-links a:link,
.fe-navigation-links a:visited,
.fe-navigation-links a:focus,
.fe-navigation-links a:active {
  color: $fe-color-grey-darker;
  text-decoration: none;
}

.fe-navigation-links a:hover {
  color: $fe-color-black;
}

.fe-navigation-actions {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
}

.fe-navigation-actions > a {
  display: flex;
  flex: 0 0 auto;
}
